body {
    font-family: 'Ubuntu', sans-serif;
}

.all-content {
    background-image: url("../img/fon1.png");
    background-size: cover;
}

.header-journey {
    background: rgba(0, 0, 0, .41);
    margin-bottom: 64px;
}

.header-logo {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-right: 742px;
    margin-left: 81px;
    text-transform: uppercase;
    color: white;
}

.header-logo:hover {
    color: #3CB878;
    cursor: pointer;
    transition: 1.5s;
}

.sprite {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite:hover.sprite-ic_calendar {
    background-position: -33px -5px;
}

.sprite:hover.sprite-ic_forum {
    background-position: -28px -32px;
}

.sprite:hover.sprite-ic_journey {
    background-position: -32px -60px;
}

.sprite-ic_calendar {
    width: 19px;
    height: 19px;
    margin-right: 28px;
    background-position: -5px -5px;
}

.sprite-ic_forum {
    width: 28px;
    height: 20px;
    margin-right: 28px;
    background-position: 0 -32px;
}

.sprite-ic_journey {
    width: 20px;
    height: 20px;
    background-position: -4px -60px;
}

.welcome-text {
    display: inline-block;
    color: white;
    font-size: 14px;
    margin: 23px 9px 21px 56px;
}

.login-text {
    display: inline-block;
    color: #3CB878;
    font-size: 14px;
}

.or {
    display: inline-block;
    color: white;
    font-size: 14px;
}

.sing-up {
    display: inline-block;
    color: #3CB878;
    font-size: 14px;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-form {
    width: 444px;
    margin-bottom: 100px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}


.green-square {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 29px;
    background-color: #3CB878;
}

.text-sing {
    font-size: 20px;
    color: #434343;
    margin-left: 38px;
    margin-right: 216px;
}

.text-log {
    font-size: 14px;
    color: #3CB878;
}

.facebook {
    width: 160px;
    height: 48px;
    margin-top: 19px;
    margin-left: 58px;
    margin-right: 4px;
    border-radius: 6px;
    border-style: none;
    background: #305DB8;
}

.facebook-logo {
    display: inline-block;
    margin-left: 16px;
    margin-top: 5px;
    float: left;
}

.google-logo {
    display: inline-block;
    margin-left: 12px;
    margin-top: 7px;
    float: left;
}

.vertical-line {
    margin-left: -20px;
}

.button-text {
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 14px;
    margin-top: 5px;
    float: right;
}

.button-text-google {
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 25px;
    margin-top: 5px;
    float: right;
}

.google {
    display: inline-block;
    width: 160px;
    height: 48px;
    margin-top: 19px;
    margin-right: 56px;
    background: #DF4A32;
    border-radius: 6px;
    border-style: none;
    float: right;
}

.text-under-button {
    font-size: 14px;
    color: #848484;
    text-align: center;
}

.input-content {
    width: 306px;
    height: 48px;
    border: 1px solid #F2F2F2;
    margin-left: 60px;
    margin-bottom: 10px;
    padding-left: 18px;
    color: #BEBEBE;
}

.input-content:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: 0;
    color: black;
}

.input-checkbox {
    display: inline-block;
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    margin-top: 19px;
    margin-left: 60px;
}

.checkbox-text {
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    margin-left: 10px;
}

.checkbox-text-green {
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    color: #3CB878;
}

.action-button {
    width: 326px;
    height: 46px;
    margin-top: 26px;
    margin-left: 60px;
    margin-bottom: 32px;
    background-color: #3CB878;
    color: #FFFFFF;
    border-style: none;
}

::-webkit-scrollbar {
    width: 0;
    background: rgba(255, 255, 255, 0.0);
}